@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-5">
            @* <form data-permanent> *@
            <form>
                <div class="form-row row row-cols-2 my-3">
                    <div class="col-8">
                        <input class="form-control" 
                        type="text"
                        id="email" 
                        placeholder="E-mail address"/>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary"
                        type="button">
                        Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
